* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

#welcome {
  background-image: linear-gradient(65deg, #202C4E, white, white, white);
  width: 100%;
  height: 100vh;
  background-color: white;
}
#welcome #nav-logo {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
  margin: 0.5rem 0.5rem 0.5rem 2.5rem;
  color: #202C4E;
}
#welcome #nav-bar {
  display: flex;
  justify-content: space-between;
  height: 75px;
}
#welcome #nav-bar #nav-sections {
  display: flex;
  justify-content: flex-end;
}
#welcome #nav-bar #nav-sections #nav-list {
  display: flex;
}
#welcome #nav-bar #nav-sections #nav-list li {
  list-style: none;
  font-size: 1.5rem;
  color: #202C4E;
  padding: 0.5em 2rem;
  border-radius: 1rem;
  margin: 0.5rem 2.5rem 0.5rem 0.5rem;
  height: 55px;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #nav-list li:hover, #welcome #nav-bar #nav-sections #nav-list li :active {
  background-color: #e7e6ff;
  cursor: pointer;
}
#welcome #nav-bar #nav-sections #nav-list a {
  text-decoration: none;
}
@media (max-width: 800px) {
  #welcome #nav-bar #nav-sections #nav-list {
    display: none;
  }
}
#welcome #nav-bar #nav-sections #hamburger {
  font-size: 1.5rem;
  height: 200px;
  width: 200px;
  border-bottom-left-radius: 100%;
  margin: 0;
  color: #202C4E;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  transform: translate(200px, -200px);
  opacity: 0;
  z-index: 9;
  background-color: #202C4E;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#welcome #nav-bar #nav-sections #hamburger a {
  color: white;
  text-decoration: none;
}
#welcome #nav-bar #nav-sections #hamburger a:hover, #welcome #nav-bar #nav-sections #hamburger a :active {
  color: #6C63FF;
}
#welcome #nav-bar #nav-sections #hamburger li {
  list-style: none;
}
#welcome #nav-bar #nav-sections #hamburger #btn-hamburger {
  position: fixed;
  top: 85px;
  left: 90px;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #hamburger #btn-hamburger:hover, #welcome #nav-bar #nav-sections #hamburger #btn-hamburger :active {
  cursor: pointer;
  color: #6C63FF;
}
#welcome #nav-bar #nav-sections #hamburger #burger-text {
  position: absolute;
  top: 50px;
  left: 100px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #hamburger #burger-home {
  position: absolute;
  top: 5px;
  left: 10px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #hamburger #burger-about {
  position: absolute;
  top: 60px;
  left: 35px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #hamburger #burger-work {
  position: absolute;
  top: 120px;
  left: 80px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
#welcome #nav-bar #nav-sections #hamburger #burger-contact {
  position: absolute;
  top: 150px;
  left: 150px;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
@media (max-width: 800px) {
  #welcome #nav-bar #nav-sections #hamburger {
    transform: translate(70px, -70px);
    opacity: 1;
  }
}
#welcome #nav-bar #nav-sections #hamburger.show {
  opacity: 1;
  transform: translate(70px, -70px);
}
#welcome #nav-bar #nav-sections #hamburger.open {
  transform: translate(0px, 0px);
}
#welcome #nav-bar #nav-sections #hamburger.open #btn-hamburger {
  top: 15px;
  left: 160px;
}
#welcome #hero {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #202C4E;
}
@media (max-width: 800px) {
  #welcome #hero {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
#welcome #hero #hero-img {
  width: 30%;
  margin-right: 10%;
}
@media (max-width: 800px) {
  #welcome #hero #hero-img {
    margin-right: 0;
  }
}
#welcome #hero #hero-text-container {
  width: 35%;
  margin-left: 10%;
}
@media (max-width: 800px) {
  #welcome #hero #hero-text-container {
    margin-left: 0;
    width: 80%;
  }
}
#welcome #hero #hero-text-container #hero-title {
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  #welcome #hero #hero-text-container #hero-title {
    font-size: 1.5rem;
  }
}
@media (max-height: 500px) {
  #welcome #hero #hero-text-container #hero-title {
    font-size: 1.3rem;
  }
}
#welcome #hero #hero-text-container #hero-title span {
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
}
@media (max-width: 800px) {
  #welcome #hero #hero-text-container #hero-title span {
    font-size: 2rem;
  }
}
@media (max-height: 500px) {
  #welcome #hero #hero-text-container #hero-title span {
    font-size: 1.3rem;
  }
}
#welcome #hero #hero-text-container #hero-text {
  letter-spacing: 1px;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1rem;
}
@media (max-width: 800px) {
  #welcome #hero #hero-text-container #hero-text {
    font-size: 0.8rem;
  }
}
@media (max-height: 500px) {
  #welcome #hero #hero-text-container #hero-text {
    font-size: 0.8rem;
  }
}
#welcome #hero #hero-text-container #hero-motto {
  margin-top: 1rem;
  font-size: 2rem;
}
@media screen and (max-width: 800px) {
  #welcome #hero #hero-text-container #hero-motto {
    font-size: 1.5rem;
  }
}
@media (max-height: 500px) {
  #welcome #hero #hero-text-container #hero-motto {
    font-size: 1.3rem;
  }
}

#about-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./image/about-bg.png");
}
@media screen and (max-width: 800px) {
  #about-container {
    background-image: url("./image/about-bg-narrow.png");
  }
}
@media screen and (max-width: 600px) {
  #about-container {
    background-image: url("./image/about-bg-mobile.png");
  }
}
#about-container .about {
  opacity: 0;
  width: 50%;
  padding: 1rem 1rem;
  color: #202C4E;
}
@media screen and (max-height: 500px) {
  #about-container .about {
    width: 50%;
    text-shadow: 0 0 0.5px white;
  }
}
@media screen and (max-width: 1200px) {
  #about-container .about {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  #about-container .about {
    width: 80%;
  }
}
#about-container .about p {
  font-size: 1rem;
}
@media screen and (max-width: 1000px) {
  #about-container .about p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  #about-container .about p {
    font-size: 0.8rem;
  }
}
#about-container #HKStudy, #about-container #HK1, #about-container #HK2UK, #about-container #UK1 {
  margin-left: 3rem;
}
@media screen and (max-width: 800px) {
  #about-container #HKStudy, #about-container #HK1, #about-container #HK2UK, #about-container #UK1 {
    margin-left: 1rem;
  }
}
#about-container #skills {
  position: absolute;
  top: 40%;
  left: 10%;
}
#about-container #skills .fa-brands {
  font-size: 4rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1000px) {
  #about-container #skills .fa-brands {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  #about-container #skills .fa-brands {
    font-size: 2rem;
  }
}

#work-container {
  height: 500vh;
  display: flex;
}
#work-container .work-display-outer {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0 !important;
}
#work-container .work-display-outer #work-display {
  background-color: #6C63FF;
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#work-container .work-display-outer #work-display .work-detail {
  position: absolute;
  opacity: 0;
  transition: 1s;
  background-color: #6C63FF;
  width: 80%;
  height: calc(90% - 100px);
  transform: translateY(100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#work-container .work-display-outer #work-display .work-detail p {
  font-size: 1rem;
}
#work-container .work-display-outer #work-display .work-detail.work-appear {
  opacity: 1;
}
#work-container .work-display-outer #work-display .work-detail .work-image {
  width: 60%;
}
#work-container .work-pages {
  width: 40%;
}
#work-container .work-pages .work {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#work-container .work-pages .work .work-logo {
  width: 100%;
  max-width: 250px;
}
#work-container .work-pages .work .work-title {
  background-color: #202C4E;
  opacity: 0.8;
  color: white;
  padding: 0 2rem;
  position: relative;
  top: -3%;
  transition: all 0.5s;
}
@media screen and (max-width: 800px) {
  #work-container .work-pages .work .work-title {
    font-size: 1.2rem;
    top: -2%;
  }
}
#work-container .work-pages .work .work-modal {
  background-color: #202C4E;
  width: 30%;
  max-width: 300px;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  position: absolute;
  transform: translateY(50%);
  transition: all 0.5s;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 2px #6C63FF;
}
@media screen and (max-width: 800px) {
  #work-container .work-pages .work .work-modal {
    padding: 1rem 0.5rem;
  }
}
#work-container .work-pages .work .work-modal h2 {
  margin-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  #work-container .work-pages .work .work-modal h2 {
    font-size: 1rem;
  }
}
#work-container .work-pages .work .work-modal p, #work-container .work-pages .work .work-modal h3 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  #work-container .work-pages .work .work-modal p, #work-container .work-pages .work .work-modal h3 {
    font-size: 0.8rem;
  }
}
#work-container .work-pages .work .work-modal a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
}
#work-container .work-pages .work .work-modal a:hover, #work-container .work-pages .work .work-modal a :active {
  color: #E9CB22;
}
@media screen and (max-width: 800px) {
  #work-container .work-pages .work .work-modal a {
    font-size: 1rem;
  }
}

#contact-container {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}/*# sourceMappingURL=style.css.map */